.claude/
.env
.venv/
.virtual_documents/
.DS_Store

# Ignore Jupyter checkpoints and temp files
anaconda_projects/
__pycache__/
.ipynb_checkpoints/
RAG/.ipynb_checkpoints/__pycache__/
RAG/.ipynb_checkpoints/
RAG/.virtual_documents/
RAG/vector_db/
RAG/knowledge_base/
RAG/retrieval_log/
RAG/outputs/
