.claude/
.env
.venv/
.virtual_documents/
.DS_Store

# Ignore Jupyter checkpoints and temp files
anaconda_projects/
__pycache__/
.ipynb_checkpoints/
agent_tools/rag_tools/.ipynb_checkpoints/__pycache__/
agent_tools/rag_tools/.ipynb_checkpoints/
agent_tools/rag_tools/.virtual_documents/
agent_tools/rag_tools/vector_db/
agent_tools/rag_tools/knowledge_base/
agent_tools/rag_tools/retrieval_log/
